#root {
  background: #e6ecf0;
}

.profile_info {
  margin: 80px 20px;
  /* text-align: center; */
}

.img_post {
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}

.toogle_on {
  display: block;
}

.toogle_off {
  display: none;
}
