header {
  height: 320px;
}

.profile {
  box-sizing: border-box;

  &__container {
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
  }

  &__banner_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  &__avatar {
    background: #15202b;
    border: 5px solid #15202b;
    border-radius: 50%;
    height: 200px;
    position: relative;
    width: 200px;

    &__container {
      bottom: -87px;
      left: 15px;
      position: absolute;
      transition: bottom 0.3s;
      z-index: 3;
    }

    img {
      width: 190px;
      border-radius: 50%;
    }
  }

  &__info {
    margin: 80px 20px;
    /* text-align: center; */
  }

  &__catelog {
    position: absolute;
    display: block;
    background-color: white;
    width: 100%;
    height: 60px;
    bottom: 0px;

    &__align {
      margin: auto 20px;
      border-bottom: 2px solid transparent;
      text-align: center;
    }

    &__align:hover {
      border-color: #3399ff;
      color: #3399ff;
    }

    &__number {
      color: rgb(102, 117, 127);
      font-size: 18px;
      font-weight: bold;
      padding-top: 3px;
      transition: color 0.15s ease-in-out 0s;
    }

    &__title {
      display: block;
      margin: 0;
      color: rgb(101, 119, 134);
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.02em;
      transition: color 0.15s ease-in-out 0s;
    }
  }
}

.bate_shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.relative_container {
  height: 100%;
  position: relative;
}
