.tweetbox_container {
  background-color: #e2e2e2;
  padding: 10px;
  clear: both;
  width: 100%;
  border-radius: 4px;
}

.tweetbox_container:after {
  content: "";
  display: table;
  clear: both;
}

textarea {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 7px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  resize: vertical;
}

button {
  float: right;
  border-radius: 4px;
  padding: 9px 15px;
  border: 0;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.red {
  color: red;
}

.btn-margin {
  margin-top: 10px;
}
